DATABASE_URL="sqlserver://localhost:1433;database=nexachat;user=YOUR_DB_USER;password=YOUR_DB_PASSWORD;trustServerCertificate=true;encrypt=true"

NEON_DATABASE_URL="postgresql://user:password@ep-example-pooler.region.aws.neon.tech/nexachat?sslmode=require"
NEON_DIRECT_URL="postgresql://user:password@ep-example.region.aws.neon.tech/nexachat?sslmode=require"

CORS_ORIGIN="http://localhost:3000"
NODE_ENV="development"
PORT=4000